@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/Home/Index.js"></script>
<div class="container-fluid ">
    <div class="panel">
        <div class="panel-body">
            <div ng-controller="IndexCtrl">
                <div dx-data-grid="dataGridOptions" dx-item-alias="item">
                    <div data-options="dxTemplate: {name: 'detail'}">
                        <p>Asked by:</p>
                        <a href="{{item.data.owner.link}}" target="_blank">
                            <img ng-src="{{item.data.owner.profile_image}}" alt="{{item.data.owner.display_name}}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>